{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<h1>Search For Open Rides</h1>
<div class="container py-5">
  <form method="POST">
    {% csrf_token %}
    {{ driver_search_form|crispy }}
    <button class="btn btn-primary" type="submit">Search!</button>
  </form>
</div>
<ul>
</ul>
<h1>Results</h1>
<ul>
  {%  for object in open_rides  %}
  <li><a href="{% url 'confirm_ride' %}?{{object.pk}}">View More Details</a></li>
  <ul>
    <li>Ride Destination: {{object.destination}}</li>
    <li>Ride Arrival Date: {{object.arrival_date}}</li>
    <li>Ride Arrival Time: {{object.arrival_time}}</li>
    <li>Current Number of Passengers: {{object.passengers}}</li> 
  </ul>
  {%  endfor  %}
</ul>
<p class="text-center">Go <a href="{% url 'home' %}">Back</a> to the home menu.</p>
{% else %}
<meta http-equiv="refresh" content="0; {% url 'login' %}" />
{% endif %}

{% endblock %} 
