<!-- templates/home.html-->
{% extends 'base.html' %}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome to a Rideshare App!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        {% if not user.driver %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_driver' %}">Register to be a driver!</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ride_request' %}">Request a ride!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ride_request' %}">Your Rides</a>
        </li>
        {% if user.driver %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'unregister_driver' %}">Driver Unregistation</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
  
        {% else %}
        <meta http-equiv="refresh" content="0; {% url 'login' %}" />
        {% endif %}
      </ul>
    </div>
  </nav>
  <body>
    <div>
      <h1>Personal Information</h1>
      <a class="subtitle" href="{% url 'update_user' %}">
        <h5>Edit Personal info</h5>
      </a>
      <ul>
        <li>
          Name: {{ user.get_full_name }}
        </li>
        <li>
          Email: {{ user.email }}
        </li>
      </ul>
      {% if user.driver %}
      <h1>Driver Information</h1>
      <a class="subtitle" href="{% url 'update_driver' %}">
        <h5>Edit driver info</h5>
      </a>
        <ul>
          <li>
            {% if user.driver.car_type == 1 %}
              Type of car: Sudan
            {% endif %}
            {% if user.driver.car_type == 2 %}
              Type of car: Truck
            {% endif %}
            {% if user.driver.car_type == 3 %}
              Type of car: Minivan
            {% endif %}
            {% if user.driver.car_type == 4 %}
              Type of car: SUV
            {% endif %}
            {% if user.driver.car_type == 5 %}
              Type of car: Camper
            {% endif %}
          </li>
          <li>
            License Plate: {{ user.driver.license_plate }}
          </li>
          <li>
            Max Number of Passengers: {{ user.driver.max_pass }}
          </li>
          {% if user.driver.special_info %}
          <li>
            Vehicle Special Information: {{ user.driver.special_info }}
          </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    <div>
      {% if user.driver %}
      <h1>Confirmed Rides</h1>
      <ul>
        {%  for object in confirmed_rides  %}
          <li><a href="{% url 'ride' %}?{{object.pk}}">VIEW</a><b> Owner: {{object.owner}}; Ride Destination: {{object.destination}}; Ride Arrival Date: {{object.arrival_date}}; Ride Arrival Time: {{object.arrival_time}}; # Passengers: {{object.passengers}}  </b></li>
        {%  endfor  %}
      </ul>
      {% endif %}
    </div>
  </body>
{% endblock %}
