{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="container py-5">
    {% if user.is_authenticated %}
	<h1>Ride</h1>
	<form method="POST">
		{% csrf_token %}
		{{ ride_view_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Mark as Complete</button>
	</form>
	<p class="text-center">Go <a href="{% url 'home' %}">Back</a> to the home menu.</p>
    {% else %}
        <meta http-equiv="refresh" content="0; {% url 'login' %}" />
    {% endif %}
</div>

{% endblock %}