{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="container py-5">
    {% if user.is_authenticated %}
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_driver_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register as a Driver!</button>
	</form>
	<p class="text-center"><a href="{% url 'home' %}">Back</a></p>
    {% else %}
        <meta http-equiv="refresh" content="0; {% url 'login' %}" />
    {% endif %}
</div>

{% endblock %}